{% extends 'main.html' %}

{% block content %}
  <style>
    .reset-password-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80.2vh;
      background-color: #f9f9f9;
    }
    
    .form-signin {
      max-width: 400px;
      width: 100%;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    
    .form-title {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
      text-align: center;
    }
    
    .form-control {
      margin-bottom: 15px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .btn-submit {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;
    }
    
    .btn-submit:hover {
      background-color: #0056b3;
    }    
  </style>
  <div class="reset-password-container">
    <form method="POST" class="form-signin">
      {% csrf_token %}
      <h1 class="form-title">Reset Password</h1>
      <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
      <button type="submit" class="btn-submit">Send Reset Email</button>
    </form>
  </div>\
  </script>
{% endblock %}
