{% extends 'main.html' %}

{% block content %}
	<style>
		.confirmation-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 76.5vh;
			background-color: #f1f1f1;
			padding: 20px;
		  }
		  
		  .confirmation-content {
			max-width: 600px;
			width: 100%;
			padding: 20px;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
		  }
		  
		  .confirmation-text {
			font-size: 20px;
			color: #333;
			margin-bottom: 15px;
		  }
		  
		  .return-link {
			color: #007bff;
			text-decoration: none;
			font-weight: bold;
		  }
		  
		  .return-link:hover {
			text-decoration: underline;
		  }		  
	</style>
	<div class="confirmation-container">
		<div class="confirmation-content">
			<p class="confirmation-text">
			We've emailed you instructions for setting your password, if an account exists with the email you entered.
			You should receive them shortly.
			</p>
			<p class="confirmation-text">
			If you don't receive an email, please make sure you've entered the address you registered with,
			and check your spam folder.
			</p>
			<p class="confirmation-text">
			<a href="{% url 'home' %}" class="return-link">Return to home page</a>
			</p>
		</div>
	</div>
{% endblock %}
