{% extends 'main.html' %}

{% block content %}
	<style>
		.message-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-color: #f1f1f1;
		}
		
		.message-content {
			padding: 20px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			text-align: center;
		}
		
		.message-text {
			font-size: 18px;
			color: #333;
			margin: 0;
		}	  
	</style>
	<div class="message-container">
	<div class="message-content">
		<p class="message-text">Your password has been updated.</p>
	</div>
	</div>
{% endblock content %}

{% block admin_content %}
	<style>
		.message-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80.2vh;
			background-color: #f1f1f1;
		}
		
		.message-content {
			padding: 20px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			text-align: center;
		}
		
		.message-text {
			font-size: 18px;
			color: #333;
			margin: 0;
		}	  
	</style>
	<div class="message-container">
	<div class="message-content">
		<p class="message-text">Your password has been updated.</p>
	</div>
	</div>
{% endblock admin_content %}
